html {
    /* font-size: 12px; */
    max-width: 1200px;
    margin: 0 auto 
}
* {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  h1 {
    display: flex;
    justify-content: center;

   
  }
  h2 {
    font-size: 0.875rem;
    display: flex;
    justify-content: center;

  }
  .summary {
    display: flex;
    flex-direction: row;
    align-items: center
  }
  h3{
    font-size: 1.25rem;
    margin-top: 1.5rem;

  }


  .edtable {
    display: flex;
    flex-direction: column;

  }
  .edtable .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  h4 {
    font-size: 1rem;
  }

  .courses {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    justify-content: space-evenly;
  }

  .courseType {
   
    width: 100%;
  }

  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


  }
  .projCols {
    display: flex;
    flex-direction: column;
    
  }
  .roles {
    display: flex;
    flex-direction: row;
    

  }
  .subsection{
    font-size: 1rem;
    font-weight: bold;
  }

  @media screen and (max-width: 800px) {
    .summary {
        flex-direction: column;
    }
    .courses {
        flex-direction: column;
    }
    .edtable .row {
        flex-direction: column;
    }
  }
